 $danger: #EB2730;
 $btn-border-radius: 8px;
 $btn-font-weight: 500;
 $input-placeholder-color: #B1B1B1;
 $input-focus-border-color: #B1B1B1;
 $input-focus-box-shadow:   #B1B1B1;




/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap.scss";
